.loading {
  border-radius: 1rem;
  animation: loading-animation 2s infinite;
}

@keyframes loading-animation {
  0% {
    background-color: rgb(241, 245, 249);
  }

  50% {
    background-color: rgb(226, 232, 240);
  }

  100% {
    background-color: rgb(241, 245, 249);
  }
}
